:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  width: 100%;
}

h1 {
  margin: 0;
  font-size: 2.5em;
}

h2 {
  margin: 0;
  font-size: 1.75em;
}

h3 {
  margin: 0;
  font-size: 1.25em;
  font-weight: 700;
}

h4 {
  margin: 0;
  font-size: 1em;
}

p {
  margin: 0;
  text-align: start;
  line-height: 1.5;
}

li {
  text-align: start;
  line-height: 1.75;
}

ul {
  margin: 0;
  padding-left: 24px;
}

